html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

h3 a {
    color: white;
    text-decoration: none;
}

.category-details {
    border-spacing: 10px;
}

.category-details th {
    text-align: right;
}

.mdl-dialog__title {
    font-size: 2rem;
}

.relative {
    position: relative;
}
